/* general css */ 
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
        font-family: "poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
      
h2{
    font-family: "poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}

p{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #faf1d9;
}

/*Portfolio Page Header*/
.merith1{
    font-family: "quincy-cf", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
    color:#33939a;
}
.merith2{
    font-family: "quincy-cf", serif;
    font-weight: 850;
    font-style: italic;
    font-size:26px;
    color:#33939a;
}
/*navigation*/
.head{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}   

.topnav{
        font-family: "poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        
}

.topnav a{
    color:#33939a;
}

.topnav a:hover{
    color: #d64b21;

}
/*main gallery*/
.portfoliotext_container{
    text-align: center;
    padding: 2rem;
}

.page_container{
    padding:2rem;
}
.portfoliogallery {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: .5rem;
    grid-auto-flow: dense;
}

.portfoliogallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bigsquare{
    grid-column: span 2;
    grid-row: span 2;
}

.portfoliogallery a:hover{
    filter:grayscale(75%)
}

/* to top arrow*/

#to-top{
    position:fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    font-size: 30px;
    color:#33939a;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: bottom 200ms, transform 200ms;
}

/*personal statement*/
.statementcontainer{
    margin: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    background-color: #e9958f83;
}

.statementh2{
    font-family: "quincy-cf", serif;
    font-weight: 850;
    font-style: italic;
    font-size:26px;
    color:#376267;
}

.headshot{
    width:35%;
}