html {
    scroll-behavior: smooth;
}

h2{
    text-align: center;
    
}

h1{
    text-align: center;
    margin: auto;
}

p{
    max-width:1000px;
    margin: auto;
    padding: 20px;
}

img{
    display:block;
    margin: auto;
    padding:5px;
}

body{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #faf1d9;
}

.menus{
    display: flex;
    flex-wrap: wrap;

}

/*project page-specific css*/
.projectpage{
    display: flex;
    justify-content: center;
}

img{width: 85%;
}

/*responsive navigation*/
.emwlogo{
    max-width: 200px;
}

.head{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}   

.topnav{
    overflow: hidden;       
}

.topnav a{
    color:#33939a;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 30px;
}

.topnav a.active{
   color:#c3807c;
    
}

.topnav a:hover{
    color: #d64b21;
}

.topnav .icon{
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #33939a;
    }
    .topnav.responsive a{
        float:none;
        display: block;
        text-align: left;
        color:#33939a;
    }
}

/* to top arrow*/
#to-top{
    position:fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    font-size: 30px;
    color:#33939a;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: bottom 200ms, transform 200ms;
}

#to-top:hover{
    bottom: 35px;
}

#to-top.show{
    transform: scale(1);
}

/*haven*/
.havencontainer{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0042494e;
    border-radius: 25px;   
}

.havenbold, .havenh1, .havenh2{
    color:#b96f25;
}

.havenlogo{width: 35%;
}

/*Sabrina*/
.sabrinacontainer{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #6895817b;
    border-radius: 25px;
}
.sabrinavid{
    display:block;
    margin: auto;
    padding:5px;
}
.sabrinah1{
    font-family: "la-parisienne-script-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    color: #4e4b4c;
}

.sabrinabold,.sabrinah2{
    color:#6e4c5b;
}

/*Kinetic*/
.kineticvid{
        display:block;
        margin: auto;
        padding:5px;
}
.kinetich1{
    font-family: "english", sans-serif;
    font-weight: 400;
    font-size: 65px;
    font-style: normal;
}

.kineticcontainer{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5167837b;
    border-radius: 25px;
}

/*curio*/
.curiocontainer{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e667a756;
    border-radius: 25px;
}
.curiobold,.curioh2{
    color:#962783;
}

.curioh1{
    display: flex;
    justify-content: center;
    font-family:"fatfrank", sans-serif;
    font-weight:400;
    font-size:125px;
    font-style:normal;
    margin: auto;
    color:#e667a6;
}
 
/*tjoes*/
.traderjoefigma{
        display:block;
        margin: auto;
        padding:5px;
}
.tjoescontainer{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ddffff;
    border-radius: 25px;
}
.tjoesbold, .tjoesh1, .tjoesh2{
    color:#e31936;
}

.tjoeslogo{width: 25%;
}

/*artwalk*/
.artwalkcontainer{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    background-color: #bbe9f8;
}

.artwalkbold, .artwalkh2{
    color:#ce4689;
}

.artwalkfigma{
    display:block;
    margin: auto;
    padding:5px;
}

.artwalklogo{width: 25%;
}

/*reel*/
.reelcontainer{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    background-color:#c7e496;
}

.reelvid{
    display:block;
    margin: auto;
    padding:5px;
}

.reelh1, .reelh2, .reelbold{
    color:#1d5c71;
}
.reelh1{
    font-family: "gambado-scotch-forte", serif;
    font-weight: 700;
    font-size: 55px;
    font-style: normal;
}

/*P5.js*/
.p5container{
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    background-color:#5c72ff80;
}

.p5bold, .p5h2{
    color:#2e1968;
}

.p5h1{
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    font-size: 60;
    font-style: normal;
    color:#2e1968;
}