

h2{
    text-align: center;
    
}

h1{
    text-align: center;
}

p{
    max-width:900px;
    margin: auto;
    padding: 10px;
}

img{
    display:block;
    margin: auto;
    padding:5px;
}

body{
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #faf1d9;
}

.menus{
    display: flex;
    flex-wrap: wrap;

}

/*project page-specific css*/
.projectpage{
    display: flex;
    justify-content: center;
}

img{width: 60%;
}

/*navigation*/
.head{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
    margin: 2rem;
}  

/*haven*/

.havencontainer{
    margin: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00424969;
    border-radius: 25px;
    
}

.havenbold, .havenh1, .havenh2{
    color:#6a1a20;
}


/*Sabrina*/
.sabrinacontainer{
    margin: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #6895817b;
    border-radius: 25px;
}
.sabrinavid{
    display:block;
    margin: auto;
    padding:5px;
}
.sabrinabold, .sabrinah1, .sabrinah2{
    color:#8d6a73;
}

/*Kinetic*/
.kineticvid{
        display:block;
        margin: auto;
        padding:5px;
}

.kineticcontainer{
    margin: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5167837b;
    border-radius: 25px;
}

/*curio*/
.curiocontainer{
    margin: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e667a756;
    border-radius: 25px;
}
.curiobold, .curioh1, .curioh2{
    color:#962783;
}

/*tjoes*/
.traderjoefigma{
        display:block;
        margin: auto;
        padding:5px;
}
.tjoescontainer{
    margin: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ddffff;
    border-radius: 25px;
}
.tjoesbold, .tjoesh1, .tjoesh2{
    color:#ce333e;
}

